<article class="col-xl-4 col-lg-6 col-sm-12">
    <div class="card" goal-id={{id}} onclick="location.href='/goal/{{id}}'">
        <div class="card-body">
            <div class="d-flex align-items-center mb-0 text-elipsis">
                <h4 class="text-primary fw-bold m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{title}}">{{title}}&nbsp;</h4>
                {{!-- <h4 class="text-primary fw-bold m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Goal Title">Goal Title&nbsp;</h4> --}}
                <span class="fw-bold fs-6 text-success mt-1 text-nowrap"> - Completed</span>
                {{!-- <span class="fw-bold fs-6 text-success mt-1 text-nowrap"> - 8/30/2021</span> --}}
            </div>
            <p class="mt-0 mb-2">{{format_date completed_date}}</p>
            <div>
                <div class="row">
                {{!-- Completed Icon --}}
                <div class="col-3 my-auto">
                    <div class="d-flex justify-content-around">
                        <i class="fas fa-trophy text-primary" style="font-size: xx-large;"></i>
                    </div>
                    {{!-- Goal Description --}}
                </div>
                    <p class="col-9 my-auto" id="milestone-description">
                    {{description}}
                    </p>
            </div>
        </div>
    </div>
</article>