<article class="col-xl-4 col-lg-6 col-sm-12">
    <div class="card" type="button" goal-id="{{id}}" onclick="location.href='/goal/{{id}}'">
        <div class="card-body">
            {{!-- Goal Title and Due Date --}}
            <div class="d-flex align-items-center mb-2 text-elipsis">
                <h4 class="text-primary fw-bold m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{title}}">{{title}}&nbsp;</h4>
                <span class="fw-bold fs-6 text-success mt-1"> - {{format_date due_date}}</span>
            </div>
            {{!-- Progress Bar --}}
            <div class="progress">
                <div class="progress-bar bg-primary card-progress" role="progressbar" style="width: 0%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100" data-completed="{{complete_milestones}}" data-total="{{total_milestones}}"></div>
            </div>
            {{!-- Milestone complete/total--}}
            <h6 class="mt-2 milestone-ratio">{{complete_milestones}}/{{total_milestones}} Milestones Complete</h6>
            {{!-- Upcoming Milestone Title and Due Date --}}
            <div class="d-flex align-items-center mb-2">
                {{!-- <h5 class="text-secondary m-0">Current Milestone&nbsp;</h5> --}}
                {{!-- <span class="fw-bold text-success mt-1"> - {{format_date milestone_due_date}}</span> --}}
            </div>
            {{!-- <h6>{{current_milestone}}</h6> --}}
            {{!-- Goal Description --}}
            <div>
                <h5 class="text-secondary m-0">Description&nbsp;</h5>
                <p>
                    {{description}}
                </p>
            </div>
        </div>
    </div>
</article>