<article class="col-12">
    <div class="card milestone-card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2"  data-milestone-id="{{id}}" data-milestone-due-date="{{due_date}}">
                {{!-- Milestone information --}}
                <div class="d-flex align-items-center text-elipsis">
                    <h4 id="milestone-title" class="text-primary fw-bold m-0" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="{{title}}">{{title}}&nbsp;</h4>
                    <span class="fw-bold fs-6 text-success mt-1 text-nowrap" id="milestone-due-date"> - {{format_date
                        due_date}}&nbsp;</span>
                </div>
                {{!-- Milestone status dropdown --}}
                {{#if (renderDropdown status)}}
                <div class="dropdown" id="dropdown-{{id}}">
                    <button class="btn btn-secondary py-0 dropdown-toggle" type="button" milestone-id="{{id}}" data-bs-toggle="dropdown" aria-expanded="false">{{status}}</button>
                    <ul class="dropdown-menu dropdown-menu-end" id="milestone-list" aria-labelledby="milestone-{{id}}-status">
                        <li class="dropdown-item todo" id="{{id}}-todo">To Do</li>
                        <li class="dropdown-item inprogress" id="{{id}}-inprogress">In Progress</li>
                        <li class="dropdown-item complete" id="{{id}}-complete">Complete</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item text-success edit selected editBtn" id="{{id}}-edit">Edit</li>
                        <li class="dropdown-item text-danger delete selected">Delete</li>
                    </ul>
                </div>
                {{/if}}
            </div>
            <div class="row milestoneInfo">
                {{!-- Status Icon --}}
                <div class="col-3 my-auto">
                    <div class="d-flex justify-content-around">
                        {{!-- Dynmically changes --}}
                        {{#checkMilestoneStatus status}}
                        {{/checkMilestoneStatus}}
                    </div>
                </div>
                {{!-- Milestone Description --}}
                <p class="col-9 my-auto" id="milestone-description">
                    {{description}}
                </p>
            </div>
            <div class="milestoneEdit d-none">
                {{!-- Status Icon --}}
                <form action="" class="edit-milestone-form" data-milestone-id="{{id}}" data-due-date="{{due_date}}" user-id="{{user_id}}">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control milestone-title-edit" id="milestone-title-edit-{{id}}" value="{{title}}">
                        <label for="milestone-title-edit-{{id}}">Milestone Title</label>
                    </div>
                    <div class="form-floating mb-3 due-date-div">
                        <input type="datetime-local" class="form-control due-date-edit" id="due-date-edit-{{id}}">
                        <label for="due-date-edit-{{id}}">Due Date</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control milestone-description-edit" id="milestone-description-edit-{{id}}" style="height: 200px"
                            spellcheck="true">{{description}}</textarea>
                        <label for="milestone-description-edit-{{id}}">Milestone Description</label>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input public-milestone-checkbox-edit" type="checkbox" value="" id="public-milestone-checkbox-edit-{{id}}">
                        <label class="form-check-label" for="public-milestone-checkbox-edit-{{id}}">
                            Would you like this milestone to be visible to other Goal Getters?
                        </label>
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button type="submit" class="btn btn-secondary me-2 flex-grow-1">Update Milestone!</button>
                        <a type="button" class="link-unstyled mx-2 p-0 my-auto cancelBtn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
</article>